{% extends 'base.html' %}
{% load meus_filtros %}
{% block titulo %}
	{{ titulo }}
{% endblock titulo %}
{% block nome_pagina %}
	Usuarios
{% endblock nome_pagina %}

{% block conteudo %}


{%for usuario in usuarios%}


<br>
<ul class="list-group">
	 <li class="list-group-item d-flex  justify-content-between align-items-center  active">
		<h6> {{usuario.nome}}</h6>
	 </li>
	<li class="list-group-item d-flex justify-content-between align-items-center">
		 <p>
			<b>Email: </b> {{usuario.email}}<br>
            <b>Registro: </b> {{usuario.registro}}
		 </p>

        <span class="badge ">
            <form class="form-horizontal" method="POST" action="{%url 'listar_usuarios' %}">
                {% csrf_token %}
                <input type="hidden" class="form-control" name="excluir"  value={{usuario.id}}>
                <button  class="btn btn-sm btn-outline-danger list-group-item" type="submit"> Excluir Usuario </button>
            </form>
        </span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <p>
            Autorização: {{usuario.is_active}}
        </p>

        <span class="badge ">
            <form class="form-horizontal" method="POST" action="{%url 'listar_usuarios' %}">
                {% csrf_token %}
                <input type="hidden" class="form-control" name="autorizar"  value={{usuario.id}}>
                <button  class="btn btn-sm btn-outline-success list-group-item" type="submit"> Autorizar Usuario </button>
            </form>
        </span>
    </li>
</ul>

{%endfor%}
{% endblock conteudo %}
