{% extends 'base.html' %}
{% load meus_filtros %}
{% block titulo %}
	{{ titulo }}
{% endblock titulo %}
{% block nome_pagina %}
	{{ titulo }} Reunião
{% endblock nome_pagina %}

{% block conteudo %}
<script>
eventClick: function(event) {
						$('#visualizar #id').text(event.id);
		$('#visualizar #id').val(event.id);
		$('#visualizar #title').text(event.title);
		$('#visualizar #start').text(event.start.format('DD/MM/YYYY HH:mm'));
		$('#visualizar #end').text(event.end.format('DD/MM/YYYY HH:mm'));
		$('#visualizar #info').text(event.info);
		$('#eventUrl').attr('href',event.url);
		$('#visualizar').modal('show');
		return false;
		}
		</script>
	<h2>
	Solicitar Uma Nova Reunião
	</h2>
	<form  method="post">
		{% csrf_token %}
		<div class="form-goup">
			{{ form_tipo.tipo.erros }}
			<label>Tipo</label>

			{{ form_tipo.tipo|addclass:'form-control'}}

		</div>

		<div class="form-goup">
			{{ form_tipo.cor.erros }}
			<label>Cor</label>
			{{ form_tipo.cor|addclass:'form-control'}}
		</div>


			<br>
			<div class="form-goup">
				<input type="submit" class="btn btn-sm btn-info" value="Salvar">
			</div>
			
		{% endblock conteudo %}