{% extends 'base.html' %}
{% load meus_filtros %}
{% block titulo %}
	{{ titulo }}
{% endblock titulo %}
{% block nome_pagina %}
	{{ titulo }} Reunião
{% endblock nome_pagina %}

{% block conteudo %}
<br>
<div class="card " >
<div class="card-header">
	<h4 class="card-title">
		Informações da Reunião
	</h4>
	</div>
<div class="card-body">
	<ul class="list-group">
		
	<li class="list-group-item d-flex list-group-item-dark justify-content-between align-items-center">
		<h6> Tipo</h6>
		<p>
			{{reuniao.tipo}}
		</p>
	 </li>
		<li class="list-group-item d-flex list-group-item-dark justify-content-between align-items-center">
		<h6> Local</h6>
		<p>
			{{reuniao.local}}
		</p>
	 </li>

		<li class="list-group-item d-flex list-group-item-dark justify-content-between align-items-center">
		<h6>Data</h6>
		<p>
			{{reuniao.data_reuniao.dia|date:"d/m/Y"}}
		</p>
	 </li>

		<li class="list-group-item d-flex list-group-item-dark justify-content-centaer align-items-center">
		<h6> Horarios</h6>
		<p>
			inicio<br>
			{{reuniao.data_reuniao.inicio|date:'H:i'}}
		</p>
			<h6> Fim</h6>
		<p>
			{{reuniao.data_reuniao.fim|date:'H:i'}}
		</p>
	 </li>
	</ul>
				</div>
</div>

		{% endblock conteudo %}
