{% extends 'base.html' %}
{% load meus_filtros %}
{% block titulo %}
	{{ titulo }}
{% endblock titulo %}
{% block nome_pagina %}
	{{ titulo }} Reunião
{% endblock nome_pagina %}

{% block conteudo %}
<br>

<div class="card text-center">
  <div class="card-header">
	  <h4 class="card-title">
    Informações da Reunião
	  </h4>
  </div>
  <div class="card-body">
	   <h6 class="card-title">
	  <p>Tipo: {{reuniao.tipo_reuniao.titulo}}</p>
    <p class="card-text">Local: {{reuniao.local}} Data: {{reuniao.data_reuniao.dia|date:"d/m/Y"}}Inicio:
			{{reuniao.data_reuniao.inicio|date:'H:i'}}
			Fim:
			{{reuniao.data_reuniao.inicio|date:'H:i'}}</p>
	   </h6>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>



		{% endblock conteudo %}
