{% extends 'base.html' %}
{%load static %}
{% block titulo %}
	Inicio
{% endblock titulo %}
{% block extras %}
	<link href="{% static 'app/css/fullcalendar.min.css'%}" rel="stylesheet"/>
	<script src="{% static 'app/js/moment.min.js'%}"></script>
	<script src="{% static 'app/js/fullcalendar.min.js'%}"></script>
	<script src="{% static 'app/locale/pt-br.js'%}"></script>
<script>
	$(document).ready(function() {
				$('#calendar').fullCalendar({
					header: {
						left: 'prevYear,prev, today ,next,nextYear',
						center: 'title',
						right: 'month,agendaWeek,listMonth'
					},


					defaultDate: Date(),
					navLinks: true, // can click day/week names to navigate views
					editable: false,
					eventLimit: false, // allow "more" link when too many events
					eventClick: function(event) {
						$('#visualizar #id').text(event.id);
		$('#visualizar #id').val(event.id);
		$('#visualizar #title').text(event.title);
		$('#visualizar #start').text(event.start.format('DD/MM/YYYY HH:mm'));
		$('#visualizar #end').text(event.end.format('DD/MM/YYYY HH:mm'));
		$('#visualizar #info').text(event.info);
		$('#eventUrl').attr('href',event.url);
		$('#visualizar').modal('show');
		return false;
		},
		events: [
		 {% for i in reunioes %} { id: "{{ i.id}}", title: "{{ i.title}}", start: '{{ i.start}}', end: '{{ i.end }}',info: '{{ i.status}}',color: '{{ i.color }}', }, {% endfor %}

		]

		});
			});
	</script>
{% endblock extras %}
{% block nome_pagina %}
	Agenda de Reuniões
{% endblock nome_pagina %}
{% block conteudo %}
<div id="calendar" style="text-transform: capitalize;">
	<div class="modal fade" id="visualizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text-center">Dados da Reunião</h4>
					<button class="btn btn-outline-danger btn-sm " data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">x</span>
        </button>
				</div>
				<div class="modal-body">
					<dl class="dl-horizontal">
						<dt>Tipo da Reunião</dt>
						<dd id="title"></dd>
						<dt>Inicio </dt>
						<dd id="start"></dd>
						<dt>Termino </dt>
						<dd id="end"></dd>
						<dt>Status da Reunião</dt>
						<dd id="info"></dd>
					</dl>
				</div>
				<div class="modal-content">
					<div class="modal-body">
						<nav class="navbar navbar-light bg-light" >
							<form class="form-horizontal" method="POST" action="{%url 'acao_marcar' %}">
								{% csrf_token %}
								<input type="hidden" class="form-control" name="id" id="id">
								<button  class="btn btn-outline-success " type="submit">Confirmar</button>
							</form>
							<form class="form-horizontal" method="POST" action="{%url 'acao_aletrar' %}">
								{% csrf_token %}
								<input type="hidden" class="form-control" name="id" id="id">
								<button  class="btn btn-outline-success " type="submit">Alterar</button>
							</form>
							<form class="form-horizontal" method="POST" action="{%url 'acao_consolidar' %}">
								{% csrf_token %}
								<input type="hidden" class="form-control" name="id" id="id">
								<button  class="btn btn-outline-success " type="submit">Consolidar</button>
							</form>
							<form class="form-horizontal" method="POST" action="{%url 'acao_cancelar' %}">
								{% csrf_token %}
								<input type="hidden" class="form-control" name="id" id="id">
								<button  class="btn btn-outline-success " type="submit">Cancelar</button>
							</form>
							<form class="form-horizontal" method="POST" action="{%url 'acao_remover' %}">
								{% csrf_token %}
								<input type="hidden" class="form-control" name="id" id="id">
								<button  class="btn btn-outline-success " type="submit">Excluir</button>
							</form>
						</nav>
						<nav class="navbar navbar-light bg-light" >
							<form class="form-horizontal" method="POST" target="_blank" action="{%url 'acao_ata' %}"> <!-- target=_BLANK -->
								{% csrf_token %}
								<input type="hidden" class="form-control" name="id" id="id">
								<button  class="btn  btn-outline-success" type="submit">Gerar ATA</button>
							</form>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock conteudo %}