{% extends 'base.html' %}
{% load meus_filtros %}
{% block titulo %}
	{{ titulo }}
{% endblock titulo %}
{% block nome_pagina %}
	Resultados da Busca
{% endblock nome_pagina %}

{% block conteudo %}

{%for alerta in alertas%}
<br>
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action {%if alerta.status != 1 %} active {%endif%}">
   {{alerta.titulo}}
  </a>
	<form class="form-horizontal" method="POST" action="{%url 'listar' %}">
		{% csrf_token %}
		<input type="hidden" class="form-control" name="status"  value={{alerta.id}}>
		<button  class="btn btn-outline list-group-item list-group-item-action" type="submit"> {{alerta.informacoes}} </button>
	</form>
	<form class="form-horizontal" method="POST" action="{%url 'listar' %}">
		{% csrf_token %}
		<input type="hidden" class="form-control" name="id"  value={{alerta.id}}>
		<button  class="btn btn-sm btn-outline-danger list-group-item" type="submit"> excluir </button>
	</form>
</div>
{%endfor%}
<br>
{% endblock conteudo %}
