<!DOCTYPE html>
<html lang="pt-br">
    {%load static %}
    <head>
        <meta charset="UTF-8">
    <title>erro</title><link rel="stylesheet" href="{% static 'app/css/bootstrap.css'%}" />
</head>
<style>
    .banner {
 display: table;
 width: 100%;
}

h1 {
 display: table-cell;
 vertical-align;
}
</style>
<body>

<div class="text-center">
  <img src="{% static 'app/img/background.jpg'%}" class="rounded" alt="...">

</div>
<div class="text-center">
    <a class="navbar-brand" href="{% url 'calendario' %}">Voltar Para o Inicio</a>

</div>



</body>
</html>