<!DOCTYPE html>
<html lang="pt-br">
    {%load static %}
    <head>
        <meta charset="UTF-8">
        <title>
        {% block titulo %}
        {% endblock titulo %}
        </title>

        <link rel="stylesheet" href="{% static 'app/css/bootstrap.css'%}" />
        <script src="{% static 'app/js/jquery.min.js'%}"></script>
        <script src="{% static 'app/js/bootstrap.min.js'%}"></script>
        {% block extras %}
        {% endblock extras %}
    </head>
    <body>
        <header class="navbar navbar-dark flex-column flex-md-row " style='background-color: #28a745'>
            <div class="navbar" >
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="navbar-brand" href="{% url 'logar_usuario' %}"><button class='btn btn-light btn-lg btn-outline' type='button' >Logar</button>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="navbar-brand" href="{% url 'decidir_usuario'%}"> <button class='btn btn-light btn-lg btn-outline' type='button' >Cadastre-se</button> </a>
                    </li>
                </ul>

            </div>
        </header>
    <div class="container-fluid" style="background-color: #81C784">

        <div class="container"  style="background-color: #fff">
            {% block conteudo %}
            {% endblock conteudo %}
        </div>

    </div>
</div>
</div>
</body>
</html>